<div class="container">
  <h1>Mon CV</h1>
  <div class="resume">
    <div class="leftcolumn">
      <!-- <div class="small">
        <h2>Loris COCCO</h2>
        <h3 class="nopb">Développeur fullstack</h3>
      </div> -->
      <!-- <div class="small">
        <h3>à propos</h3>
        <p>Rigoureux, à l'écoute et aimant apprendre, je suis passionné d'informatique et je suis à la recherche d'un
          poste de développeur dans le carde d'un contrat d'apprentissage Bachelor Concepteur Développeur d'Applications
          DevOps à l'EPSI de Rennes.</p>
      </div> -->
      <div class="small">
        <h3>Coordonnées</h3>
        <ul>
          <li>Mail : loris.cocco98@gmail.com</li>
          <li>35220 Châteaubourg</li>
          <li>Permis B & Véhiculé</li>
          <li>23 ans</li>
        </ul>
      </div>
      <div class="small">
        <h2>Formations</h2>
        <div>
          <h3>EPSI <br/>Rennes | 2021 - 2022</h3>
          <p>Concepteur/Développeur d'Applications option DevOps (bac+3)</p>
          <br/>
          <p>Et de 2022-2024, Expert en Informatique et Système d'Informations (bac+5)</p>
        </div>
        <div>
          <h3>Buroscope <br/>Cesson Sévigné | 2020 - 2021</h3>
          <p>Diplôme Technicien Intégrateur Web (bac+2)</p>
        </div>
        <div>
          <h3>grande école du numérique <br/> 2019 - 2020</h3>
          <p>Prépa Digitale option développement web</p>
        </div>
      </div>
      <div class="small">
        <h3>compétences</h3>
        <ul>
          <li>Développement Full-Stack</li>
          <li>Conception & Développement d'applications avec Frameworks</li>
          <li>Création de Back-End avec MySQL</li>
          <li>Intégration Web</li>
          <li>Création de newsletters</li>
          <li>Maquettage d'interface web</li>
          <li>Anglais (C1)</li>
        </ul>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="small">
        <h2>Expériences</h2>
        <div class="exp">
          <h3>développement full-stack & conception d'interface</h3>
          <h4>Atelier de la Forge Royale | 2020 - 2021</h4>
          <ul>
            <li>Développement d'un CMS sous Laravel</li>
            <li>Déploiement de l'application</li>
            <li>Référencement naturel</li>
            <li>Création de l'UI/UX</li>
          </ul>
        </div>
        <div>
          <h3>intégrateur web</h3>
          <h4>Tête de l'art | 2019 - 2020</h4>
          <ul>
            <li>Création d'un thème customisé WordPress</li>
            <li>Intégration du contenu de l'association</li>
          </ul>
        </div>
      </div>
      <div class="small">
        <h3>Langages / Frameworks</h3>
        <section class="animated-grid">
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/php.png" alt="PHP" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/java.png" alt="Java" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/python.png" alt="Python" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/js.png" alt="JavaScript" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/angular.svg" alt="Angular" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/jquery.png" alt="jQuery" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/tailwind.svg" alt="TailwindCSS" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/css.png" alt="CSS" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/html.png" alt="HTML" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/laravel.png" alt="Laravel" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/springboot.png" alt="SpringBoot" loading="lazy">
          </div>
          <div class="card">
            <img style="max-width: 5.5rem; max-height: 5.5rem;"src="../assets/img/django.svg" alt="Django" loading="lazy">
          </div>
        </section>
      </div>
      <div>
        <h2 class="paddingbottom">Version pdf :</h2>
        <a href="../../assets/pdf/cvLorisCocco.pdf" target="_blank">cliquez ici</a>
      </div>
    </div>
  </div>