<div class=container>
  <h1>à propos de moi</h1>
  <div class="alternate">
    <p>Je suis actuellement à la recherche d'une entreprise pour pouvoir mettre mes competences en application, et
      pouvoir continuer mes études dans le développement pour l'année 2021 - 2022 à l'EPSI de Rennes. Suite à l'année
      qui arrive, j'ai pour but de continuer mes études afin de monter en compétences jusqu'au bac +5
      en alternance / apprentissage.</p>
    <p>En attendant le début de cette année scolaire, je continue mon autoformation en apprenant Java, en suivant les
      cours de l'Université d'Helsinki, en approfondissant mes connaissances en JavaScript en m'apprenant Angular. Avec
      pour but de dévelloper des applications robustes en mettant en oevre et en combinant ces deux nouvelles
      compétences.</p>
    <p>Pour cette entreprise, je me suis lancé sur le développement d’un CMS sous Laravel, avec la possibilité d’ajouter
      / modifier & supprimer des pages et des images, de gérer les contacts depuis un côté administrateur
      <a href="https://atelierdelaforgeroyale.com/">(https://atelierdelaforgeroyale.com/)</a>.</p>
    <p>Durant cette formation, j’ai travaillé en tant que développeur fullstack pour l’entreprise "Atelier de la Forge
      Royale" pendant 3 mois, en complète autonomie en tant que développeur full-stack.
    </p>
    <p>J'ai développé ce site en complète autonomie, avec un framework que je n'avais jamais utilisé au paravant. Celà
      m'a permits d'apprendre énormement, à regler les problèmes qui peuvent surgir durant le développement d'une
      application, lire beaucoup de documentation.
    </p>
    <p>Suite à la prépa digitale, je me suis inscris à la formation Technicien Intégrateur Web à Buroscope
      Cesson-Sévigné, où j’ai pu apprendre
      le développement web avec l’utilisation de PHP et jQuery.</p>
    <p>J'ai toujours aimer l'informatique et je me suis initié au code de mon coté, par curiosité j'ai commencé mon
      autoformation. Pour concretiser mon projet effectu" la prépa Digitale de la Grande École du Numérique en 2019,
      cela m'as permits de me familiariser
      avec les metiers du numérique, en apprennant les bases en HTML / CSS ainsi que la suite Adobe avec Photoshop /
      Illustrator / Premiere Pro.</p>
  </div>
</div>