@import "../../var.scss";

.container {
  padding: 1rem;
  h1 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
    padding-bottom: 1ch;
  }
  .alternate {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--accentColor1) 0%, var(--accentColor3) 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: var(--bgPrimary);
    //numbers
    &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: var(--bgPrimary);
      text-align: center;
      line-height: 1.25em;
      color: var(--textLight);
      font-size: 1em;
    }
  }
  //odd number borders
  p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  //even number borders
  p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  //handle first and last
  p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
