@import "../var.scss";
nav {
  z-index: 10;
  position: fixed;
  background-color: var(--bgPrimary);
  transition: all var(--transitionSpeed) ease;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, .4);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      margin-bottom: 1rem;
    }
    li {
      width: 100%;
      a {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--accentColor3);
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.2ch;
        text-transform: uppercase;
        svg {
          min-width: 2rem;
          width: 2rem;
          margin: 0 1.5rem;
          fill: var(--accentColor3);
        }
        .link-text {
          display: none;
          margin-left: 0.2rem;
        }
      }
    }
  }
}

nav a {
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transitionSpeed);
}
nav:hover {
  .logo svg {
    transform: rotate(-180deg);
  }
  .logo {
    .link-text {
      font-weight: bold;
      letter-spacing: 0.3ch;
      width: 100%;
      text-transform: uppercase !important;
    }
  }
  a:hover {
    filter: grayscale(0) opacity(1);
    background-color: var(--bgSecondary);
    color: var(--accentColor3);
  }
}
.logo {
  svg {
    transform: rotate(0deg);
    transition: transform var(--transitionSpeed);
  }
}
@media only screen and (max-width: 600px) {
  nav {
    bottom: 0;
    height: 5rem;
    width: 100vw;
    .logo {
      display: none;
    }
    ul {
      flex-direction: row;
      li {
        a {
          svg {
            margin: 0 1rem;
          }
          justify-content: center;
        }
      }
    }
  }
  .toHide {
    display:none;
  }
}
@media only screen and (min-width: 600px) {
  nav {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  nav:hover {
    width: 16rem;
    .link-text {
      display: block !important;
    }
  }
  nav ul li:last-child {
    margin-top: auto;
  }
}
