/* You can add global styles to this file, and also import other style files */
$textPrimary: #121212;
$textSecondary: #454545;
$bgPrimary: #232323;
$bgSecondary: #181818;
$accentColor1: #dca1f5;
$accentColor2: #95BA9F;
$accentColor3: #CCFFDA;
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  ::-webkit-scrollbar{
    width: .5rem;
  }
  ::-webkit-scrollbar-track{
    background-color: $bgPrimary;
  }
  ::-webkit-scrollbar-thumb{
    background-color: $accentColor3;
  }
}
