<div class="bg-image">
  <div class="container">
    <div class="quickPresentation">
      <h1 class="glitch">
        <!--<span aria-hidden="true">Loris Cocco</span>-->
        Loris Cocco
        <!--<span aria-hidden="true">Loris Cocco</span>-->
      </h1>
      <h2>Développeur FullStack</h2>
    </div>
    <p>Bonjour, je m'appelle Loris j'ai 23 ans et je suis à la recherche d'un contrat d'apprentissage en développement
      web.</p>
    <div class="stack">
      <h2>Langages / Frameworks</h2>
      <h3>Back - End</h3>
      <ul>
        <li>PHP | Laravel</li>
        <li>Java | SpringBoot</li>
        <li>Python | Django</li>
      </ul>
      <h3>Front - End</h3>
      <ul>
        <li>JavaScript | Angular | jQuery </li>
        <li>CSS | Tailwind | Bootstrap </li>
        <li>HTML</li>
      </ul>
    </div>
  </div>
</div>